.body-header{
    background-image: url(../../img/bannerbackground.png);
    min-height:70vh;

}
.body-header h1{
    font-size:4rem;
}
.search-btn{
    background-color: #F91944;
    border: none;
}
.search-input{
    border-radius: 50rem 0 0 50rem ;
    outline:none;
}
.card-hover:hover{
    box-shadow: 0px 7px 27px -6px rgba(0,0,0,0.75);

}
.footer{
    background-color: #191919;
}
.all-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 5rem;
    margin: 2rem 0;
}
.cart{
    top: 20%;
    right: 0;
    position:fixed;
    background-color: rgba(253, 241, 135, 0.514);
    width: 20rem;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}
.quantity-field {
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity-field button{
    border:none;
    background-color: white;
    font-size: 30px;
}
.quantity-field button:focus{
    color: hotpink;
}